asgiref==3.3.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.2.1
Django==3.1.4
idna==2.10
msal==1.8.0
pycparser==2.20
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
